html,body{
    background-color: #016b97;
    height: 100%;
}
.wrapper{
    height: 100%;
}
.content{
    background-color: white;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 1rem;
    width: 60%;
}
.form-control{
    display: block;
    width: 100%;
    border-color: #0084ac !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #666;
    height: auto;
    border-radius: 0;
}
.form-control:focus{
    color: #666;
    background-color: white;
    border-color: white;
    outline: 0;
    box-shadow: none;
}
.btn-class{
    width: 100%;
    background-color: #5fbae9;
    color: white;
}
.btn-class:hover{
    background-color: #019ee7;
    color: white;
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateY(-10px);
    }
  }