.bg-1{
    background-color: #15b8fc;
}
.bg-2{
    background-color: #6ccffc;
}
.bg-3{
    background-color: #0773c4;
}
.bg-4{
    background-color: #016b97;
}
.bg-5{
    background-color: #c4dce4;
}
.bg-6{
    background-color: #055693;
}
.warna-1{
    color: #15b8fc;
}
.warna-2{
    color: white;
}
.warna-3{
  color: #016b97;
}
.active-bar {
  color: black;
  background-color: white;
}
.rounded-full {
    border-radius: 100%;
}
.btnInput{
  width: 170px;
}
#wrapper {
    overflow-x: hidden;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}
#sidebar-wrapper .list-group {
    width: 15rem;
}
#page-content-wrapper {
    min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
#menu-toggle {
    cursor: pointer;
}
.list-group-item {
    border: none;
    padding: 20px 30px;
}
.list-group-item.active {
    background-color: transparent;
    color: #276678;
    font-weight: bold;
    border: none;
}
.list-group-item.hover {
  background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
         min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
}
#sidebarMenu{
    background: #016b97;
    min-height: 100vh;
}
.active{
    color: #15b8fc;
    font-weight: 700;
}    
thead>tr{
    background: #055693;
}
tbody>tr:nth-of-type(odd){
    background: #c4dce4;
}
